<<<<<<< HEAD
/* Login styles */
#login-page {
    background-image: url('/images/collage1.jpg');
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .me-logo {
    margin-bottom: 15px;
  }
  #login-contents {
    margin-top: 24vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    max-width: 438px;
    color: var(--text);
    background-color: var(--background);
  }
  #intro {
    text-align: center;
    margin-bottom: 2vh;
  }
  #intro p {
    font-family: "Tilt Neon";
    line-height: 1.4;
    padding: 0 8px;
  }
  #login {
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  #login div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #google-button {
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 25px;
    color: var(--text);
    background-color: var(--secondary);
  }
  #login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #login-form input {
    margin-top: 1.5vh;
    height: 3.5vh;
    width: 55%;
    padding-left: 5px;
  }
  input :focus{
    border: solid var(--accent);
  }
  #login-form button {
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 24px;
    background-color: var(--secondary);
    color: var(--text);
  }
  
  .sign {
    height: 24px;
    background-color: var(--accent);
    color: var(--background);
    
  }
  #login div p {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  button {
    border: none;
    padding: 6px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* logo animation */
.me-movies {
  margin-left: 5px;
  animation-name: fontChange;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes fontChange {
  0% {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--secondary);
  }
  20% {
    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--accent);
  }
  40% {
    font-family: "Kablammo", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--text);
  }
  60% {
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--accent);
  }
  80% {
    font-family: "Rubik Gemstones", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--primary);
  } 
  100% {
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--accent);
  }
=======
/* Login styles */
#login-page {
    background-image: url('/images/collage1.jpg');
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .me-logo {
    margin-bottom: 15px;
  }
  #login-contents {
    margin-top: 24vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    max-width: 438px;
    color: var(--text);
    background-color: var(--background);
  }
  #intro {
    text-align: center;
    margin-bottom: 2vh;
  }
  #intro p {
    font-family: "Tilt Neon";
    line-height: 1.4;
    padding: 0 8px;
  }
  #login {
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  #login div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #google-button {
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 25px;
    color: var(--text);
    background-color: var(--secondary);
  }
  #login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #login-form input {
    margin-top: 1.5vh;
    height: 3.5vh;
    width: 55%;
    padding-left: 5px;
  }
  input :focus{
    border: solid var(--accent);
  }
  #login-form button {
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 24px;
    background-color: var(--secondary);
    color: var(--text);
  }
  
  .sign {
    height: 24px;
    background-color: var(--accent);
    color: var(--background);
    
  }
  #login div p {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  button {
    border: none;
    padding: 6px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* logo animation */
.me-movies {
  margin-left: 5px;
  animation-name: fontChange;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes fontChange {
  0% {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--secondary);
  }
  20% {
    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--accent);
  }
  40% {
    font-family: "Kablammo", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--text);
  }
  60% {
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--accent);
  }
  80% {
    font-family: "Rubik Gemstones", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--primary);
  } 
  100% {
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--accent);
  }
>>>>>>> master
}