.modal {
    border: transparent;
    min-width: 406px;
    margin-top: 10vh;
    margin-left: 4px;
    background: var(--primary);
  }
  .modal::backdrop {
    background: #000000de;
  }
  .modal-button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
  }
  @media (min-width:768px) {
    .modal {
        min-width: 500px;
        margin-left: 35vw;
        margin-top: 24vh;
    }
  }