/* movie lists */

#movie-list ul {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, auto);
    list-style: none;
    gap: 8px;
    padding: 8px;
  }

  @media (min-width:768px) {
    #movie-list ul {
      grid-template-columns: repeat(5, 1fr);
      padding: 0;
    }
  }
  @media (min-width:1024px) {
    #movie-list ul {
      width: 98vw;
      grid-template-columns: repeat(10, auto);
    }
  }

  