.trending-heading, .top-heading {
    margin-top: 2vh;
    padding: 1vh 10px;
    font-family: "Tilt Neon";
    color: var(--text);
}
hr {
    margin: 2vh 10px;
}
.trending-section, .top-section {
    display: flex;
    justify-content: center;
}

.top-rated {
    background-color: var(--primary);
}
.movie-button {
    margin-left: 45%;
    background-color: var(--accent);
    width: 12vw;
    margin-top: 2vh;
    margin-bottom: 4vh;
}
.more-button {
    text-decoration: none;
    color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
}