/* logo animation */
.me-movies {
  margin-left: 5px;
  animation-name: fontChange;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes fontChange {
  0% {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--secondary);
  }
  20% {
    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--accent);
  }
  40% {
    font-family: "Kablammo", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--text);
  }
  60% {
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--accent);
  }
  80% {
    font-family: "Rubik Gemstones", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--primary);
  }
  100% {
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--accent);
  }
}
