.search {
    height: 100vh;
}
.search-head {
    text-align: center;
    font-family: 'rubik gemstones';
    color: var(--accent);
    font-size: 3rem;
    margin-bottom: 1vh;
}
form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-heading, .search-holding {
    font-size: 18px;
    font-family: 'poppins';
    font-weight: 400;
}
.search-holding {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text);
}
.search-holding img{
    width: 80vw;
}
.search-holding h4 {
    margin-top: 1rem;
    animation-name: fontChange;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@media (min-width:768px) {
    .search-heading, .search-holding, .search-container hr {
        margin: 2vh 8.5vw
    }
    .search-holding img {
        width: 30vw;
    }
}