* {
  margin: 0;
  padding: 0;
}

:root {
  --text: #efe4ef;
  --background: #160d15;
  --primary: #484F45;
  --secondary: #303e26;
  --accent: #a3dcbc;
}

body {
  background-color: var(--background);
}

